<!-- Intro -->
<div id="index-banner">
  <div class="section">
    <div class="container">
      <div class="row center">
        <div class="col s12">
            <img src="/goop-white.png" id="goop-img">
            <p class="white-text">
                <a href="#" class="white-text">Clear Articles</a> | 
                <a href="#" class="white-text">Scrape New Articles</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
        <!-- Article Cards (with photo) -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://placehold.it/300x300">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="header"><a href="#">Article Title</a></h4>
                        <p>This is where the description about the article will go. It will just be a short blurb about this size, I think.</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Save Article</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article Cards (without photo) -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="header"><a href="#">Article Title</a></h4>
                        <p>This is where the description about the article will go. It will just be a short blurb about this size, I think.</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Save Article</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>