<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
        <!-- Article Cards (with photo) -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://placehold.it/300x300">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="header"><a href="#">Article Title</a></h4>
                        <p>This is where the description about the article will go. It will just be a short blurb about this size, I think.</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Add An Article Note</a>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Remove From Saved</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article Cards (without photo) -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="header"><a href="#">Article Title</a></h4>
                        <p>This is where the description about the article will go. It will just be a short blurb about this size, I think.</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Add An Article Note</a>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text text-lighten-3">Remove From Saved</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>